body {
	font-family: 'Cantarell', arial, sans-serif;
}

ul.nav {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}
ul.nav li {
	display: block;
	float: left;
	margin: 5px;
}

#content {
	clear: both;
}


.signup {
	float: left;
}
.yes {
	color: green;
}
.no {
	color: red;
}
.maybe {
	color: orange;
}
.past {
	background-color: #ccc;
}
td.player {
	text-align: left !important;
}
.upcoming {
	line-height: 30px;
}
.date {
	float: left;
}
.buttons {
	float: right;
}
.comment {
	clear: both;
	float: left;
}
input.comment_text {
	width: 400px;
}

table.signups {
	border-collapse: collapse;
}
table.signups th {
	color: #ffffff;
	background-color: #333;
}
table.signups tfoot tr {
	border: 1px solid black;
}
table.signups tr.alt {
	background-color: #e3e3e3;
}
table.signups tr.alt td.past {
	background-color: #bbb;
}
.signups td, table.signups th {
	padding: 1px 10px;
	text-align: center;
}

.weather {
	font-size: 13px;
	border: 1px solid blue;
	padding: 5px;
	display: inline-block;
	float: right;
}
.weather .city {
	font-weight: bold;
}
.weather img {
	border: 1px solid #999;
	padding: 2px;
}
.weather .current {
	padding: 10px;
}
.weather .current div.img {
	float: left;
	padding-right: 10px;
}
.weather .current .temp {
	font-size: 24px;
	float: left;
	margin-right: 10px;
	height: 44px;
}
.weather .current .conditions {
	white-space: nowrap;
}
.weather .forecasts {
}
.weather .forecasts .forecast {
	float: left;
	text-align: center;
	margin: 0 10px;
}

.strong {
	font-weight: bold;
}
