{% extends "groupsites/base.html" %}

{% block title %}
	{{ group.group }}
{% endblock %}

{% block content %}

{% include 'groupsites/signup.html' %}

<div class="weather">
	<div class="city">
		<a href="http://www.google.com/search?q=weather+{{ weather.city|urlencode }}">{{ weather.city }}</a>
	</div>
	<div class="current">
		<div class="img">
			<img width="40" height="40" alt="{{ weather.condition }}" src="{{ weather.icon }}" /><br/>
		</div>
		<div class="temp">{{ weather.temp_f }}°F</div>
		<div class="conditions">
			Current: {{ weather.condition }}<br/>
			Wind: {{ weather.wind_condition }}<br/>
			Humidity: {{ weather.humidity }}
		</div>
	</div>
	<div class="forecasts">
		{% for forecast in weather.forecasts %}
			<div title="{{ forecast.condition }}" class="forecast">
				{{ forecast.day_of_week }}<br/>
				<img width="40" height="40" alt="{{ forecast.condition }}" src="{{ forecast.icon }}"/><br/>
				<nobr>{{ forecast.high }}° | {{ forecast.low }}°</nobr>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
