<div class="signup">
    <form method="post">
        <fieldset>
            <legend>Are you playing?</legend>
            <div class="upcoming">
                <span class="date">Thursday, August 26th</span>
                <div class="buttons">
                    <button class="yes">Yes</button>
                    <button class="no">No</button>
                    <button class="maybe">Maybe</button>
                </div>
                <div class="comment">
                    Comment: <input type="text" class="comment_text" name="comment" />
                </div>
            </div>
            <div class="upcoming">
                <span class="date">Monday, August 30th</span>
                <div class="buttons">
                    <button class="yes">Yes</button>
                    <button class="no">No</button>
                    <button class="maybe">Maybe</button>
                </div>
                <div class="comment">
                    Comment: <input type="text" class="comment_text" name="comment" />
                </div>
            </div>
        </fieldset>
    </form>

    <h3>Signups</h3>
    <table class="signups">
        <thead>
            <tr>
                <th>Player</th>
                <th class="past">Mon, Aug 23</th>
                <th>Thur, Aug 26</th>
                <th>Mon, Aug 30</th>
            </tr>
        </thead>
        <tr>
            <td class="player">Dustin</td>
            <td class="past yes">Yes</td>
            <td class="no">No <img src="http://p.yusukekamiyamane.com/icons/search/fugue/icons/balloon-left.png" alt="comment" title="Meeting :(" /></td>
            <td class="no">No</td>
        </tr>
        <tr class="alt">
            <td class="player">Kyley</td>
            <td class="past yes">Yes</td>
            <td class="yes">Yes</td>
            <td class="yes">Yes</td>
        </tr>
        <tr>
            <td class="player">Keith</td>
            <td class="past yes">Yes</td>
            <td class="maybe">Maybe</td>
            <td class=""></td>
        </tr>
        <tfoot>
            <tr>
                <td class="player strong">Totals</td>
                <td class="past yes">3</td>
                <td class="no">1</td>
                <td class="no">1</td>
            </tr>
        </tfoot>
    </table>
</div>
